
<div>


    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>@ViewBag.ErrorMessage</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <a asp-controller="User" asp-action="Login"> Volver Al Index</a>
</div>