@model InternetBanking.Core.Application.ViewModels.Transferencia.SaveTransferenciaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SaveTransferenciaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control"/>
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCuentaAhorro" class="control-label"> Seleccione la cuenta Salida</label>
                <<select required asp-for="IdCuentaAhorro" asp-items="@(new SelectList(Model.CuentaOrigen,"IdCuentaAhorro","NumeroCuenta"))" class="form-select">
                    <option value="">Seleccione una Cuenta</option>
                </select>
                <span asp-validation-for="IdCuentaAhorro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaDestinoId" class="control-label">Seleccione la cuenta Salida que recibira</label>
                <select required asp-for="CuentaDestinoId" asp-items="@(new SelectList(Model.CuentaDestino,"IdCuentaAhorro","NumeroCuenta"))" class="form-select">
                    <option value="">Seleccione una Cuenta</option>
                </select>
                <span asp-validation-for="CuentaDestinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Producto" asp-action="Index">Back to List</a>
</div>

